{% extends "myadmin/base.html" %}

{% block mainbody %}
  <h2>
     会员信息管理
  </h2>
  <form action="" method="get">
  姓名：<input type="text" size="6" name="name" value="{{request.GET.name}}"/>
  性别：<select name="sex">
      <option value="">全部</option>
      <option {% if request.GET.sex == '1'%} selected {% endif%} value="1">男</option>
      <option {% if request.GET.sex == '0'%} selected {% endif%} value="0">女</option>
      </select>
    <input type="submit" value="搜索"/>
  </form>
   <table class="table table-bordered table-striped">
      <thead>
          <tr>
	  <th>账号</th>
	  <th>真实姓名</th>
	  <th>性别</th>
             <th>邮箱</th>
             <th>注册时间</th>
             <th>状态</th>
             <th>操作</th>
	</tr>
        </thead>
     <tbody>
     {% for vo in userslist %}
         <tr>
        	<td>{{ vo.username }}</td>
        	<td>{{ vo.name }}</td>
        	<td>{% if vo.sex == 1 %} 男 {% else %}女{% endif %}</td>
        	<td>{{ vo.email }}</td>
        	<td>{{ vo.addtime }}</td>
        	<td>{{ vo.state }}</td>
        	<td>
	<a href="{% url 'myadmin_usersdel' vo.id %}" class="view-link">删除</a>
	<a href="{% url 'myadmin_usersedit' vo.id %}" class="view-link">编辑</a>
	</td>
          </tr>
        {% endfor %}
       </tbody>
        </table>				
	 <div class="pagination">
	     <ul>
	         <li class="disabled">
                 <a href="#">&laquo;</a>
             </li>
             {%for pindex in plist%}
                 {%if pIndex == pindex %}
                     <li class="active"><a href="/myadmin/orders{{ pindex }}">{{ pindex }}</a>
                 {%else%}
                     <li><a href="{{ pindex }}">{{ pindex }}</a></li>
                 {%endif%}
             {%endfor%}
             <li>
                 <a href="#">&raquo;</a>
             </li>
	       </ul>
	 </div>
{% endblock %}