{% extends "myweb/users/base.html" %}
{% load static from staticfiles %}
  {% block mainbody %}
  <div class="container-fluid"> 
     <div class="banner-box hidden-xs hidden-sm">
	    <div class="container">
		 <form id="mainForm" class="main-form" action="{% url 'dologin' %}"  method="post">
                {% csrf_token %}
			<div class="tab-title">
			   <a class="linkAGray" id="toAccountLogin" href="javascript:void(0);">账号登录</a>
			</div>
			   <div class="tip-box visiblility-hidden">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				   <i class="glyphicon glyphicon-exclamation-sign"></i>
				   <span class="tip-font">&times;</span>
				   <span aria-hidden="true" class="cha">&times;</span>
				</button>
			     </div>
				<div class="normalInput cycode-box fieldInput" id="cycode-box">
				   <div class="cycode-selectbox">
				     <input class="ipt-account inp-focus" name="phone" id="account" maxlength="50" placeholder="手机号" autocomplete="off">
				    </div>
				</div>
				<div class="normalInput fieldInput passwd-box">
				<input class="inp-focus" name="password" id="password" maxlength="16" placeholder="密码" autocomplete="off" type="password">
				</div>
           <div class="normalInput fieldInput passwd-box">
            <input class="inp-focus" name="code" id="verify" maxlength="4" placeholder="验密码" autocomplete="off" type="text" style="width: 100px;">
            <img src="{% url 'verify' %}" onclick="this.src='{% url 'verify' %}?sn='+Math.random()"/>
          </div>
          <!-- 提示 -->
          {{ info }}
            <input type="submit" class="btn btn-lg btn-info " style='width:300px' value="登录">
		<div class="transferField">
            <br>
		<a class="go2forgetpwd linkABlue rememberFieldForA" href="#">忘记密码?</a>
		   <a class="go2register linkABlue" href="{% url 'register' %}" id="toRegister">注册</a>
		</div>
		</form>
	 </div>
      </div>
      <!-- 移动端结构 -->
      <form id="mainForm" class="main-form app-main-form" action="{% url 'dologin' %}"  method="post">
        {% csrf_token %}
        <div class="tab-title">
          <a class="linkAGray" id="toAccountLogin" href="javascript:void(0);">账号登录</a>
        </div>
        <div class="tip-box visiblility-hidden">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            <span class="tip-font"></span>
            <span aria-hidden="true" class="cha">&times;</span>
          </button>
        </div>
        <div class="normalInput cycode-box show-cycode" id="cycode-box">
          <div class="cycode-selectbox">
            <input id="phone" name="phone" class="ipt-phone inp-focus" maxlength="11" placeholder="手机号码" autocomplete="off">
          </div>
        </div>
        <div class="normalInput box-input">
          <input class="pswInput inp-focus" name="password" id="password" maxlength="6" placeholder="密码" autocomplete="off" tabindex="3" type="password">
        </div>

        {{ info }}
        <button tybe="submit" class="fullBtnBlue register-btn" style="width: 335px; background: #69f;color: #fff; font-size:18px;">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
        <div class="transferField">
          <a class="go2forgetpwd linkABlue rememberFieldForA" href="#">忘记密码?</a>
          <a class="go2register linkABlue" href="{% url 'register' %}" id="toRegister">注册</a>
        </div>
      </form>
      <!-- 移动端结构 E-->

    </div>
  {% endblock %}
